:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'SF Pro Text',
    'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background: #000;
}

#root {
  min-height: 100vh;
  width: 100%;
}
